<div id="find-food" class="hide">
  <div class="row">
    <div class="col s12 m12">
      <button class="btn waves-effect waves-light" onclick="backToExploreOptions();"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
    </div>
  </div>
  <div class="row pushed-down-alittle" id="food-places">
    <!-- magic -->
  </div>
  <div class="col s12 m12">
    <img class="attribution hide" src="images/yelp/logo.png">
  </div>
</div>
