<footer class="page-footer blue darken-4">
  <div class="container grey-text text-lighten-4">
    <div id="contact" class="center-align">
      <p class="no-margin tiny-text"><a class="grey-text text-lighten-4 clickable" onclick="loadTerms();"><i class="fa fa-list-alt" aria-hidden="true"></i> Terms of Use and Privacy Policy <i class="fa fa-user-secret" aria-hidden="true"></i></a></p>
      <p class="no-margin tiny-text"><a class="grey-text text-lighten-4" href="https://github.com/developerDemetri/BoredWithFriends" target="_blank">Check out the code on GitHub <i class="fa fa-github"></i></a></p>
      <p class="no-margin tiny-text"><a class="grey-text text-lighten-4" href="https://developerdemetri.com/" target="_blank"><i class="fa fa-copyright"></i> 2016 DeveloperDemetri</a></p>
    </div>
  </div>
</footer>
