<div id="order-food" class="hide">
  <div class="row" id="order-places">
    <!-- magic -->
  </div>
  <div class="col s12 m12">
    <img class="google-attribution hide" src="images/powered_by_google.png">
  </div>
</div>
