<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header'); %>
    <title>BWF | Register</title>
    <script type="text/javascript" src="javascripts/register.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>
  <body class="container">
    <h3 class="center-align">Register for <a href="/" class="blue-text text-darken-4 hide-on-small-only">Bored With Friends</a><a href="/" class="blue-text text-darken-4 hide-on-med-and-up">BWF</a></h3>
    <div class="row">
      <p id="badUsername" class="center-align red-text hide">Invalid Username <i class="fa fa-exclamation-circle" aria-hidden="true"></i></p>
      <p id="takenUsername" class="center-align red-text hide">Username already taken <i class="fa fa-exclamation-circle" aria-hidden="true"></i></p>
      <div class="input-field col s10 m6 offset-m3 offset-s1">
        <input id="username" type="text" class="validate customInput" maxlength="63" onkeyup="checkusername(null);">
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <p id="badEmail" class="center-align red-text hide">Invalid Email Address <i class="fa fa-exclamation-circle" aria-hidden="true"></i></p>
      <p id="takenEmail" class="center-align red-text hide">Email already taken <i class="fa fa-exclamation-circle" aria-hidden="true"></i></p>
      <div class="input-field col s10 m6 offset-m3 offset-s1">
        <input id="eml" type="text" class="validate customInput" maxlength="255" onkeyup="checkemail(null);">
        <label for="eml">Email</label>
      </div>
    </div>
    <div class="row">
      <div id="weakPass" class="center-align red-text hide">
        <p>Invalid Password <i class="fa fa-exclamation-circle" aria-hidden="true"></i></p>
        <p>Passwords must be a mix of numbers and letters, at least 8 characters long.</p>
        <p>Special characters !@#$%^&*/._+- are also allowed</p>
      </div>
      <div class="input-field col s10 m6 offset-m3 offset-s1">
        <input id="pass1" type="password" class="validate customInput" maxlength="31" onkeyup="checkPassStrength();">
        <label for="pass1">Password</label>
      </div>
    </div>
    <div class="row">
      <p id="badPassMatch" class="center-align red-text hide">Passwords do not match <i class="fa fa-exclamation-circle" aria-hidden="true"></i></p>
      <div class="input-field col s10 m6 offset-m3 offset-s1">
        <input id="pass2" type="password" class="validate customInput" maxlength="31" onkeyup="checkPassMatch();">
        <label for="pass2">Retype Password</label>
      </div>
    </div>
    <div class="row">
      <div class="col offset-s1 offset-m4">
        <div class="g-recaptcha" data-sitekey="6LfVuQcUAAAAAA_A-NaI_gDOSApuYMrgOpPuhWRA"></div>
      </div>
    </div>
    <div class="row">
      <div class="col s3 m2 offset-s6 offset-m7">
        <a id="registerBtn" onclick="register();" class="waves-effect waves-light btn blue darken-4">Register</a>
        <div id="registerLoadingCircle" class="hide preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="terms-modal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h5 class="center-align">Terms of Use and Privacy Policy</h5>
        <p>By using Bored With Friends you agree to NOT use the application in any manner that would harm other people or involve any unsafe or illegal activity.</p>
        <p>As the Owner/Developer, I agree not to do anything creepy/illegal with your personal info. Email & passwords are safely stored and never disclosed to 3rd parties.</p>
        <p>At this time, you will NEVER be contacted regarding this application. NEVER disclose personal info to communication (emails) that might appear to be related to this application.</p>
        <p>I will do my best to provide a secure user experience. However, I am not liable for any harm associated with any usage of this application. Please use common sense.</p>
        <p>This application uses 3rd party services to enhance user experience. Their policies:</p>
        <p>Google Maps API: Users are bound by <a href="https://www.google.com/intl/en/policies/terms/" target="_blank">Google’s Terms of Service</a> and the <a href="https://www.google.com/policies/privacy/" target="_blank">Google Privacy Policy</a></p>
      </div>
      <div class="modal-footer">
        <a onclick="acceptTerms();" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
        <a onclick="rejectTerms();" class="modal-action modal-close waves-effect waves-green btn-flat ">Disagree</a>
      </div>
    </div>
  </body>
</html>

<!--
Copyright 2016 DeveloperDemetri
developerdemetri.com

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
