<div id="watch-tv" class="hide">
  <div class="row">
    <div class="col s12 m12">
      <button class="btn waves-effect waves-light" onclick="backToHomeOptions();"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
    </div>
  </div>
  <div class="row pushed-down-alittle" id="tv-guide">
    <!-- magic -->
  </div>
  <div class="col s12 m12">
    <!-- <img class="google-attribution hide" src="images/powered_by_google.png"> -->
  </div>
</div>
