body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fcfcfc;
  color: #263238;
}

main {
  flex: 1 0 auto;
}

textarea:focus {
  border-bottom: 1px solid #1976d2;
  -webkit-box-shadow: 0 1px 0 0 #1976d2;
  -moz-box-shadow: 0 1px 0 0 #1976d2;
  box-shadow: 0 1px 0 0 #1976d2;
}

.pushed-down-alot {
  margin-top: 6rem;
}

.pushed-down-alittle {
  margin-top: 3rem;
}

a {
  color: #0277bd;
}

.warning-toast {
  background-color: #ffb74d;
}

#nav-logo {
  margin-left: 1rem;
}

.no-margin {
  margin: 0rem;
}

.tiny-text {
  font-size: .75rem;
}

footer.page-footer {
  padding-top: .5rem;
  padding-bottom: .25rem;
}

.option-card-logo {
  margin: 0rem;
  font-size: 7rem;
}

.clickable {
  cursor: pointer
}

@media only screen and (max-width: 768px) {
  .option-card-logo {
    margin: 0rem;
    font-size: 3rem;
  }
  span.card-title.center-align {
    font-size: 1.5rem;
  }
}

.food-card {
  height: 13rem;
}

.attribution {
  height: 3rem;
}

.embedded-yelp {
  height: 1.1rem !important;
}

.yelp-star {
  height: 1.25rem;
}

.yelp-stars {
  margin-top: .15rem !important;
}

.details-text {
  font-size: 0.6rem;
}

/*
Copyright 2016 DeveloperDemetri
developerdemetri.com

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
