body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fcfcfc;
  color: #263238;
}

main {
  flex: 1 0 auto;
}

textarea:focus {
  border-bottom: 1px solid #1976d2;
  -webkit-box-shadow: 0 1px 0 0 #1976d2;
  -moz-box-shadow: 0 1px 0 0 #1976d2;
  box-shadow: 0 1px 0 0 #1976d2;
}

.pushed-down-alot {
  margin-top: 6rem;
}

.pushed-down-alittle {
  margin-top: 3rem;
}

a {
  color: #0277bd;
}

.warning-toast {
  background-color: #ffb74d;
}

#nav-logo {
  margin-left: 1rem;
}

.no-margin {
  margin: 0rem;
}

.tiny-text {
  font-size: .75rem;
}

footer.page-footer {
  padding-top: .5rem;
  padding-bottom: .25rem;
}

.option-card-logo {
  margin: 0rem;
  font-size: 7rem;
}

.clickable {
  cursor: pointer
}

@media only screen and (max-width: 768px) {
  .option-card-logo {
    margin: 0rem;
    font-size: 3rem;
  }
  span.card-title.center-align {
    font-size: 1.5rem;
  }
}

.food-card {
  height: 12rem;
}

.google-attribution {
  height: 1rem;
}
